<!-- paddng y axis (top & bottom) of 3, margin-top auto-->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy;YelpTrail 2021</span>
    </div>
</footer>