<% layout('/layouts/boilerplate') %> 

<div class="row">
    <h1 class="text-center">New Trail</h1> 
    <div class="col-md-6 offset-md-3">

        <!-- novalidate tells the browser not to validate the form so bootstrap can take over instead-->
        <!-- enctype="multipart/form-data" for image upload -->
        <form action="/trails" method="POST" novalidate class="validated-form" enctype="multipart/form-data"> 
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="trail[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="trail[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <!-- image upload-->
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Upload Images</label>
                <input type="file" class="form-control" id="formFileMultiple" name="image" multiple>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="trail[description]" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Add Trail</button>
            </div>
        </form>

        <a href="/trails">All Trails</a>
    </div>
</div>

